[bumpversion]
current_version = 2
commit = False
tag = False
tag_name = mkdocs-example.v{new_version}
parse = (?P<major>\d+)
serialize = 
	{major}

[bumpversion:file:mkdocs.yml]
search = version: {current_version}
replace = version: {new_version}

